.todo{
    display:flex;
    padding: 10px 15px;
    background-color:#D1E8E4;
    border-bottom:1px solid #DDD ;
    font-family: 'Patrick Hand', cursive;
}

.todo:nth-child(even){
    background-color: #FFDEFA;
}
.todo:last-of-type{
    border-bottom: 0;
}
.todo .id{
    flex: 1 1 50px;
}
.todo .content{
    flex:1 1 100%;
}
.todo.done .content{
    text-decoration: line-through;
}
.todo-input{
    display: block;
    width:100%;
    padding: 10px 15px;
    appearance: none;
    background-color: #f3f3f3;
    margin-top:15px;
    font-size: 20px;
}
.todo-submit{
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    border:none;
    outline:none;
    background: none;

    background-color: #FE4880;
    color: #FFF;
    margin:15px auto;

    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    background: #FE4880;
  background-image: -webkit-linear-gradient(top, #FE4880, #2980b9);
  background-image: -moz-linear-gradient(top, #FE4880, #2980b9);
  background-image: -ms-linear-gradient(top, #FE4880, #2980b9);
  background-image: -o-linear-gradient(top, #FE4880, #2980b9);
  background-image: linear-gradient(to bottom, #FE4880, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
}
.todo-submit:hover {
    background: #FE4880;
    background-image: -webkit-linear-gradient(top, #FE4880, #FE4880);
    background-image: -moz-linear-gradient(top, #FE4880, #FE4880);
    background-image: -ms-linear-gradient(top, #FE4880, #FE4880);
    background-image: -o-linear-gradient(top, #FE4880, #FE4880);
    background-image: linear-gradient(to bottom, #FE4880, #FE4880);
    text-decoration: none;
  }
input[type=text] {
    position: relative;
    left:300px;
    width: 50%;
  }
  .delete{
    background: #FE4880;
    background-image: -webkit-linear-gradient(top, #FE4880, #2980b9);
    background-image: -moz-linear-gradient(top, #FE4880, #2980b9);
    background-image: -ms-linear-gradient(top, #FE4880, #2980b9);
    background-image: -o-linear-gradient(top, #FE4880, #2980b9);
    background-image: linear-gradient(to bottom, #FE4880, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
  }
  
  .delete:hover {
    background: #FE4880;
    background-image: -webkit-linear-gradient(top, #FE4880, #FE4880);
    background-image: -moz-linear-gradient(top, #FE4880, #FE4880);
    background-image: -ms-linear-gradient(top, #FE4880, #FE4880);
    background-image: -o-linear-gradient(top, #FE4880, #FE4880);
    background-image: linear-gradient(to bottom, #FE4880, #FE4880);
    text-decoration: none;
  }
<<<<<<< HEAD

  .edit{
=======
.edit{
>>>>>>> 5941fd133b596f3b4f080f63fbdbcbc35d80520d
    background: #FE4880;
    padding-right: 10px;
    background-image: -webkit-linear-gradient(top, #FE4880, #2980b9);
    background-image: -moz-linear-gradient(top, #FE4880, #2980b9);
    background-image: -ms-linear-gradient(top, #FE4880, #2980b9);
    background-image: -o-linear-gradient(top, #FE4880, #2980b9);
    background-image: linear-gradient(to bottom, #FE4880, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    margin-right: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
  }
  
  .edit:hover {
    background: #FE4880;
    background-image: -webkit-linear-gradient(top, #FE4880, #FE4880);
    background-image: -moz-linear-gradient(top, #FE4880, #FE4880);
    background-image: -ms-linear-gradient(top, #FE4880, #FE4880);
    background-image: -o-linear-gradient(top, #FE4880, #FE4880);
    background-image: linear-gradient(to bottom, #FE4880, #FE4880);
    text-decoration: none;
  }
  
<<<<<<< HEAD
  
=======
>>>>>>> 5941fd133b596f3b4f080f63fbdbcbc35d80520d
